@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
#wrap {
  width: 100%;
}

body {
  position: relative;
  background: #f5f6f7;
  display: block;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
}

div {
  display: block;
}

#top_logo {
  position: absolute;
  top: 35px;
  left: 40px;
  z-index: 3;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  -webkit-text-stroke: 1px #f48fb1;
}

#top_logo > img {
  width: 8%;
  float: left;
  padding-right: 10px;
  margin-top: -5px;
}

#top_logo > a {
  color: #ffffff;
  -webkit-text-stroke: 1px #f48fb1;
  text-decoration: none;
}

#header {
  width: 100%;
  height: 200px;
}

#container, #footer {
  max-width: 768px;
  margin: 0 auto;
  min-width: 460px;
  height: fit-content;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

form {
  display: block;
}

#container {
  width: auto;
  max-width: 768px;
  font-family: "Gowun Dodum", sans-serif;
}

#content {
  width: 460px;
  margin: 0 auto;
}

#row {
  overflow: hidden;
  width: 100%;
}

.title {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
}

form {
  line-height: 50px;
}

#row > form {
  margin-top: 70px;
}

form > .form-group > input {
  width: 95%;
  height: 30px;
}

form > .form-group > textarea {
  width: 95%;
}

#btn {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}

button {
  outline: none;
  margin: 20px;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 17px;
}

.custom {
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  border: 2px solid #000000;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}

.btn-1 {
  background: #000000;
  color: #ffffff;
  line-height: 42px;
  padding: 0;
  border: none;
}
.btn-1:hover {
  background: transparent;
  color: #000000;
  box-shadow:
   -7px -7px 20px 0px #fff9,
   -4px -4px 5px 0px #fff9,
   7px 7px 20px 0px #0002,
   4px 4px 5px 0px #0001;
}
.btn-1:before,
.btn-1:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:2px;
  width:0;
  background: #000000;
  transition:400ms ease all;
}
.btn-1:after{
  right:inherit;
  top:inherit;
  left: 0;
  bottom:0;
}
.btn-1:hover:before,
.btn-1:hover:after{
  width:100%;
  transition:800ms ease all;
}

#footer {
  text-align: center;
  color: #333333;
  z-index: 3;
  bottom: 10px;
}

#footer * {
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
  color: #333333;
}

#footer address {
  font: 9px/14px Verdana;
}

#footer address em {
  font: 9px Verdana;
  padding-left: 4px;
}

:root #footer address .logo {
  top: 2px;
  margin-left: 1px;
}

#footer address .logo {
  position: relative;
  width: 63px;
  height: 12px;
}

#footer address span {
    font: 9px/14px Verdana;
    padding-left: 2px;
}

#footer address .u_cri {
    margin: 0;
    padding-left: 1px;
}

#footer address a {
    font: bold 9px Verdana;
  text-decoration: none;
  color: #333333;
}

.line {
  display: block;
  margin-bottom: 30px;
  margin: 15px auto 17px;
  width: 15px;
  border-top: 1px solid #f48fb1;
}

.pink {
  color: #f48fb1 !important;
}

input,textarea {
  border-color: rgba(118, 118, 118, 0.3);
  outline: rgba(118, 118, 118, 0.3);
  background: #f5f6f7;
}