<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../static/css/account_delete.css">
</head>
<body>
<script>
    function newPage() {
        setTimeout("window.location.href = '{% url 'introapp:home' %}'",1000);
    }
</script>

<div id="wrapper">
    <div class="box1">
        <form id="my_page" method="post">
            <div id="container">
                <div id="content">
                    <div id="header">
                        <h1 id="top_logo">
                            <br>
                            <img src="../../../static/img/donut.png" alt="">
                            <a href="{% url 'introapp:home' %}">Donut</a>
                        </h1>
                    </div>
                    <div class="inner">
                        <div id="inner_cont">
                            <div class="mb-4">
                                <h4>회원 탈퇴를 진행하시겠습니까?</h4>
                                <div class="line pink"></div>
                            </div>
                            <form action="{% url 'accountapp:delete' pk=target_user.pk %}" method="post">
                                {% csrf_token %}
                                <div class="centered">
                                    <input type="checkbox" id="chck" onclick="newPage()">
                                    <label for="chck">
                                        <span class="qmark">&nbsp;&nbsp;&nbsp; 탈퇴하기 &nbsp;&nbsp;&nbsp;</span>
                                        <span class="fstop">이용해주셔서 감사합니다</span>
                                    </label>
                                    <div class="bg"></div>
                                </div>
                            </form>
                        </div>
                     </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div id="footer">
    <address>
        <em>
            <a href="../../../introapp/templates/introapp/home.html" class="logo">
                <span class="blind"></span>
            </a>
        </em>
        <em class="copy">고려대학교 세종캠퍼스</em>
        <em class="u_cri">©</em>
        <a href="#" class="u_cra">Donut</a>
    </address>
</div>
</body>
</html>
