<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../static/css/profile.css">
</head>
<body>
<script>
    window.onload = function () {
        function onClick() {
            document.querySelector('.modal_wrap').style.display = 'block';
            document.querySelector('.black_bg').style.display = 'block';
        }
        function offClick() {
            document.querySelector('.modal_wrap').style.display = 'none';
            document.querySelector('.black_bg').style.display = 'none';
        }
        document.getElementById('modal_btn').addEventListener('click', onClick);
        document.querySelector('.modal_close').addEventListener('click', offClick);
    };
</script>
<div id="wrapper">
    <div class="box1">
        <form id="my_page" method="post">
            <div id="container">
                <div id="content">
                    <div id="header">
                        <h1 id="top_logo">
                            <img src="../../../static/img/donut.png" alt="">
                            <a href="{% url 'introapp:home' %}">Donut</a>
                        </h1>
                    </div>
                    <div class="inner1">
                        {% if target_user == user %}
                        <div id="progress">
                            진행중인 기부:
                            {% for campaign in abc %}
                            {{ campaign.article.title }}
                            {% endfor %}

                            {% if a %}
                            <ul>
                                <li class="prog2"><span>&#x1F48C;<br>기부 접수</span></li>
                                <li class="prog3"><span>&#x2705;<br>입금 확인</span></li>
                                <li class="prog3"><span>&#x1F680; <br>배송 시작</span></li>
                                <li class="prog3"><span>&#x1F496; <br>배송 완료</span></li>
                            </ul>
                            {% elif b %}
                            <ul>
                                <li class="prog1"><span>&#x1F48C;<br>기부 접수</span></li>
                                <li class="prog2"><span>&#x2705;<br>입금 확인</span></li>
                                <li class="prog3"><span>&#x1F680; <br>배송 시작</span></li>
                                <li class="prog3"><span>&#x1F496; <br>배송 완료</span></li>
                            </ul>
                            {% elif c %}
                            <ul>
                                <li class="prog1"><span>&#x1F48C;<br>기부 접수</span></li>
                                <li class="prog1"><span>&#x2705;<br>입금 확인</span></li>
                                <li class="prog2"><span>&#x1F680; <br>배송 시작</span></li>
                                <li class="prog3"><span>&#x1F496; <br>배송 완료</span></li>
                            </ul>
                            {% elif d %}
                            <ul>
                                <li class="prog1"><span>&#x1F48C;<br>기부 접수</span></li>
                                <li class="prog1"><span>&#x2705;<br>입금 확인</span></li>
                                <li class="prog1"><span>&#x1F680; <br>배송 시작</span></li>
                                <li class="prog2"><span>&#x1F496; <br>배송 완료</span></li>
                            </ul>
                            {% else %}
                            <ul>
                                <li class="prog3"><span>&#x1F48C;<br>기부 접수</span></li>
                                <li class="prog3"><span>&#x2705;<br>입금 확인</span></li>
                                <li class="prog3"><span>&#x1F680; <br>배송 시작</span></li>
                                <li class="prog3"><span>&#x1F496; <br>배송 완료</span></li>
                            </ul>
                            {% endif %}

                            {% if Campaign %}

                            <button type="button" id="modal_btn">배송 진행 내역 + </button>
                            <div class="black_bg"></div>
                            <div class="modal_wrap">
                                <div class="modal_close"><a href="#">close</a></div>
                                <div>
                                    <div class="popup-cont01 top">
                                        <img src="../../../static/img/donut.png" alt="">
                                        {% for campaign in target_user.campaign.all %}
                                        <p>
                                            총 입금액:
                                            <br>
                                            <span>{{ campaign.amount }} 원</span>
                                        </p>
                                        {% endfor %}
                                        <hr>
                                        <div id="popup-cont02">
                                            <p> <span class="in_p">food: </span> {% widthratio category.food amount.price 100 %}%</p>
                                            <p> <span class="in_p">clothing: </span>{% widthratio category.clothing amount.price 100 %}%</p>
                                            <p> <span class="in_p">shelter: </span>{% widthratio category.shelter amount.price 100 %}%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        {% endif %}


                        <br>
                        <br>
                        <div class="section1">
                            <a href="{% url 'accountapp:mypost' pk=user.pk %}">
                                내가 쓴 글 &nbsp;↗
                            </a>
                        </div>
                        <br>
                        <div class="section2">
                            <a href="{% url 'accountapp:mycampaign' pk=user.pk %}">
                                지난 캠페인 ↗
                            </a>
                        </div>
                    </div>
                    <div class="inner2">
                        {% if target_user == user %}
                        <div class="section3">
                            <input id="set" type="checkbox">
                            <label for="set"><img src="../../../static/img/setting.png" alt=""></label>
                            <ul class="set_sub">
                                <li>
                                    {% if target_user.profile %}
                                    <a href="{% url 'profileapp:update' pk=target_user.profile.pk %}">
                                        <p>
                                            프로필 변경
                                        </p>
                                    </a>
                                    {% endif %}
                                    <a href="{% url 'accountapp:update' pk=user.pk %}">
                                        <p>
                                            계정 정보 변경
                                        </p>
                                    </a>
                                    <a href="{% url 'accountapp:delete' pk=user.pk %}">
                                        <p>
                                            계정 탈퇴
                                        </p>
                                    </a>

                                </li>
                            </ul>
                        </div>
                        {% endif %}
                        <div class="section4">
                            {% if target_user.profile %}
                            <div id="profile_img">
                                <img src="{{ target_user.profile.image.url }}">
                            </div>
                            <br>
                            <div id="name" style="margin-left: 90%; margin-top: -2rem;">
                                닉네임: {{ target_user.profile.nickname }}
                            </div>
                            <br>
                            <div id="introduce" style="margin-left: 90%; margin-top: -3rem;">
                                <h6>
                                    {{ target_user.profile.message }}
                                </h6>
                            </div>

                            <div class="point">
                                <h3>
                                    포인트 :
                                    <a href="{% url 'payapp:charge' %}">
                                        포인트충전 &nbsp;↗
                                    </a>
                                </h3>
                            </div>

                            {% else %}

                            <div id="make_img">
                                <img src="../../../static/img/profile2.png">
                            </div>
                            <br>
                            <div class="make_text">
                                <a href="{% url 'profileapp:create' %}">
                                    <h4>
                                        프로필 만들기
                                    </h4>
                                </a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div id="footer">
                    <address>
                        <em><a href="../../../introapp/templates/introapp/home.html" class="logo"><span
                                class="blind"></span></a></em>
                        <em class="copy">고려대학교 세종캠퍼스</em>
                        <em class="u_cri">©</em>
                        <a href="#" class="u_cra">Donut</a>
                    </address>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>

