<!DOCTYPE html>
<html lang="en">

{% if user.is_authenticated %}
안녕하세요 . {{ user.username }}님!
{% else %}
아직 로그인 안됨
{% endif %}
<br/><br/><br/><br/>
<head>
    <meta charset="UTF-8">
    <title>Donut Login</title>
    <link rel="stylesheet" href="../../../static/css/login.css">
    <link rel="stylesheet" href="../../../static/SASS/login.scss">
</head>
<body>
<div id="wrapper">
    <div class="box1">
        <img src="../../../static/img/donut.png" alt="">
        <div class="box1_text">
            <a href="{% url 'introapp:home' %}">Donut</a>
        </div>

        <form action="{% url 'accountapp:loging' %}" id="login_form" method="post">
            <input type="hidden">
            <input type="hidden">
            {% csrf_token %}
            <div id="container">
                <div id="content">
                    <div class="login_content">
                        <div class="row_group">
                            <div class="join_row">
                                <h2 class="login_title">
                                    <label for="login_id">아이디</label>
                                </h2>
                                <span class="ps_box int_id">
                                    <input type="text" id="login_id" class="int" maxlength="20" name="username">
                                </span>
                            </div>

                            <div class="join_row">
                                <h2 class="login_title">
                                    <label for="login_pw">비밀번호</label>
                                </h2>
                                <span class="ps_box int_pw">
                                    <input type="password" id="login_pw" class="int" maxlength="20" name="password">
                                    <span class="lbl">
                                        <span id="pswdSpan" class="step_txt"></span>
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="loginbtn">
                    <a>
                        <div class="btn_area">
                            <button type="button" id="btnlogin" class="btn_type btn_primary">
                                <span>로그인</span>
                                <input type="submit" value="로그인">
                            </button>
                        </div>
                    </a>
                </div>

            </div>
        </form>

    </div>
    <div class="box2">
        <h2>
            등록된 계정이 없다면
        </h2>
        <h3>
            가입을 통해 투명한 기부에 참여하세요 !
        </h3>
        <a href="{% url 'accountapp:create' %}">
            <div class="box2_btn">
                <button type="button" id="btnJoin" class="btn_type btn_primary">
                    <span>가입하기</span>
                </button>
            </div>
        </a>
    </div>
</div>
</body>
</html>