{% extends 'base.html' %}

{% block content %}

                    <a href="{% url 'accountapp:detail' pk=user.pk %}">
                    마이페이지
                    </a>
                    {% if A %}


{% for each in A %}
    {% if each.state == 'a' %}
    <div>
        시작
        <a href="{% url 'articleapp:detail' pk=each.id %}">{{ each.title }}</a>
    </div>
    {% elif each.state == 'b' %}
    <div>
        진행중
        <a href="{% url 'articleapp:detail' pk=each.id %}">{{ each.title }}</a>
    </div>
    {% elif each.state == 'c' %}
    <div>
        진행중
        <a href="{% url 'articleapp:detail' pk=each.id %}">{{ each.title }}</a>
    </div>
    {% else %}
    <div>
        지난캠페인
        <a href="{% url 'articleapp:detail' pk=each.id %}">{{ each.title }}</a>
    </div>
    {% endif %}
{% endfor %}









                        <!--글이 없는 경우도 추가했어요-->
                        {% else %}
                        <div class="text-center">
                            <h1>No Articles YET!</h1>
                        </div>
                        {% endif %}



{% endblock %}


