<!DOCTYPE html>
{% if user.is_superuser == 1 %}
{% load bootstrap4 %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/css/practice.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- 롤링 배너 JavaScript -->
    <script language="JavaScript">
        $(document).ready(function() {
            var $banner = $(".banner").find("ul");

            var $bannerWidth = $banner.children().outerWidth();
            var $bannerHeight = $banner.children().outerHeight();
            var $bannerLength = $banner.children().length;
            var rollingId;

            rollingId = setInterval(function() { rollingStart(); });

            function rollingStart() {
                $banner.css("width", $bannerWidth * $bannerLength + "px");
                $banner.css("height", $bannerHeight + "px");
                $banner.animate({left: - $bannerWidth + "px"}, 1500, function() {
                    $(this).append("<li>" + $(this).find("li:first").html() + "</li>");
                    $(this).find("li:first").remove();
                    $(this).css("left", 1);
                });
            }
        });
    </script>

</head>
<body>
<div id="wrap">
    <div id="contents" class="customer">
        <!-- Donut 로고 -->
        <h1 id="top_logo">
            <img src="../../../static/img/donut.png" alt="">
            <a href="{% url 'introapp:home' %}">Donut</a>
        </h1>

        <!-- 후원 단체 이미지 -->
        <div class="banner_top white">
            <div class="banner">
                <ul>
                    <li>
                        <img src="https://www.unicef.or.kr/static/logo_active@2x-8a9e02df64d664f02ffc1ceaaa5ad4fd.png">
                    </li>
                    <li>
                        <img src="https://chest.or.kr/common/img/common/logo.png">
                    </li>
                    <li>
                        <img src="https://www.redcross.or.kr/images/main_v14/dh-logo.gif">
                    </li>
                    <li>
                        <img src="https://www.kidsfuture.or.kr/data/file/202107031920_2cc731ced8d1b0000.png">
                    </li>
                    <li>
                        <img src="https://www.sc.or.kr/webPub/sc_2018/images/main/logo_on.png">
                    </li>
                    <li>
                        <img src="https://www.worldvision.or.kr/main2017/images/wv_logo_02.png?crc=3773745825">
                    </li>
                </ul>
            </div>
        </div>

        <div class="inner_cont customer_cont">
            <div class="section section-top">
                <div class="inner">
                    <h3>참여한 기부</h3>
                    <div class="line pink"></div>
                    <h4>기부 살펴보기</h4>
                    <div class="blank_line"></div>
                    <p>
                        관리자 페이지입니다.
                    </p>
                    <br>

                    {% if camp_list %}
                <table
            border="1"
            width="100%"
            height="200"
            cellspacing="5">
            <caption>기부 현황</caption>
            <thead>
                <tr align="center" bgcolor="white">
                    <th>참여자ID</th>
                    <th>기부타이틀</th>
                    <th>기부액</th>
                    <th>모금액</th>
                    <th>상태</th>
                    <th></th>
                </tr>
            </thead>

            <tbody>

                        {% for each in camp_list %}

                                            <tr align="center" bgcolor="white">
                                                        <td>{{each.Participants}}</td>
                                                        <td>{{each.title}}</td>
                                                        <td>{{each.amount}}원</td>
                                                        <td>{{each.price}}원</td>
                                                        <form action="{% url 'adminapp:update'%}" method="post">
                                                            {% csrf_token %}



                                                                    <td><input type="text" name="state" value={{each.state}} ></td>
                                                                        <input type="hidden" name="id" value={{each.id}}>
                                                                    <td><button type="submit"  class="btn btn-danger rounded-pill col-6 mt-3">기부상태변경</button>

                                                                    </td>
                                                            </form>
                                            </tr>

                        {% endfor %}


            </tbody>
        </table>
                        <!--글이 없는 경우도 추가했어요-->
                        {% else %}
                        <div class="text-center">
                            <h1>No Articles YET!</h1>
                        </div>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
{% else %}
            <a href="{% url 'introapp:home'%}">
                잘못된접근
            </a>
            <meta http-equiv="refresh" content="0.00001;url='/intro/home'">
{% endif %}