@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");


@keyframes progressAnimation {
  0% {width: 0; background-color: #f9bcca;}
}

#wrapper {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  zoom: 1;
}

* {
  -webkit-text-size-adjust: none;
}

div {
  display: block;
}

body {
  font-size: 0.81em;
  overflow-x: hidden;
  height: 90%;
}

#wrapper:after {
  display: block;
  clear: both;
}

#topmenu_wrapper {
  position: relative;
  z-index: 99;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

#top_logo {
  position: absolute;
  top: 6%;
  left: 40px;
  z-index: 3;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
}

#top_nav {
  position: absolute;
  top: 8.5%;
  right: 40px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#top_nav > li {
  display: block;
  float: left;
  padding: 0 17px;
  position: relative;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: -0.3px;
  text-align: center;
}

#top_nav > li > a {
  display: block;
  padding: 17px 0 36px 0;
  zoom: 1;
  font-size: 18px;
  color: #000000;
  z-index: 3;
}

a {
  text-decoration: none;
}

#menu > li > #top_nav {
  position: absolute;
  top: 8.5%;
  right: 55px;
  font-family: "IBM Plex Sans KR", sans-serif;
  font-weight: bold;
  margin-right: -2vw;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#menu > li > #top_nav > li {
  display: block;
  float: left;
  padding: 0 17px;
  position: relative;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: -0.3px;
  text-align: center;
}

a {
  text-decoration: none;
}

body {
  background: #f5f6f7;
}

#top_logo {
  -webkit-text-stroke: 1px #f48fb1;
}

#top_logo > img {
  width: 8%;
  float: left;
  padding-right: 10px;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 1500px;
  margin-left: 0.5%;
  min-width: 50%;
  max-width: 120%;
  height: 480px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  margin-top: 60%;
}

.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 45%;
  background: #0af;
  width: 650px;
  height: 650px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: yellow;
}

.box:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ee88aa, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title1 {
  position: absolute;
  left: 0;
  top: 50px;
  line-height: 200px;
  width: 100%;
  z-index: 1;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: "Gowun Dodum", sans-serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
}

.title2 {
  position: absolute;
  left: 0;
  top: 160px;
  width: 100%;
  z-index: 1;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;
  letter-spacing: 0.4em;
  font-size: 30px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
  line-height: 250px;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
#top_logo > a {
  color: #ffffff;
  -webkit-text-stroke: 1px #f48fb1;
}

#menu > li > #top_nav > li {
  text-align: center;
  width: fit-content;
  height: 12%;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 1vw;
}

ul li {
  list-style: none;
}

#footer {
  text-align: center;
  color: #333333;
  z-index: 3;
  position: absolute;
  bottom: 0;
  padding: 10px;
  margin-bottom: -1000px;
  width: 95%;
}

#footer * {
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
  color: #333333;
}

#footer address {
  font: 9px/14px Verdana;
}

#footer address em {
  font: 9px Verdana;
  padding-left: 4px;
}

:root #footer address .logo {
  top: 2px;
  margin-left: 1px;
}

#footer address .logo {
  position: relative;
  width: 63px;
  height: 12px;
}

#footer address span {
    font: 9px/14px Verdana;
    padding-left: 2px;
}

#footer address .u_cri {
    margin: 0;
    padding-left: 1px;
}

#footer address a {
    font: bold 9px Verdana;
    text-decoration: none;
    color: #333333;
}

.banner_top {
  text-align: center;
  z-index: 2;
  width: 100%;
  display: block;
}

.banner_top > .banner > ul > li > a > img {
  width: 15%;
  height: 15%;
  margin-top: 15%;
}

.banner_title {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 23px;
  text-align: left;
  margin-top: 5%;
  margin-left: 8%;
}

.banner_top > .banner > ul {
  width: 95%;
  text-align: center;
  display: inline-block;
}

.banner_top > .banner > ul > li {
  padding: 1%;
  width: 17%;
  display: inline-block;
}

.banner_top > .banner > ul > li > a {
  text-decoration: none;
  color: #333333;
}

.banner_top > .banner > ul > li > a > h2 {
  margin-bottom: 15%;
}

.banner {
  text-align: center;
}

.pro_container {
  position: fixed;
  width: 270px;
  height: fit-content;
  max-height: 300px;
  overflow-y: scroll;
  text-align: center;
  background: rgba(255,255,255,0.5);
  z-index: 15;
  top: 20%;
  left: 80%;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 16px;
}

.pro_container::-webkit-scrollbar {
  display: none;
}

.progress2 {
  padding: 2px;
  width: 220px;
  margin-left: 7%;
  margin-bottom: 10%;
  border-radius: 30px;
  background: rgba(0, 0, 0, 0.25);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar2 {
  height: 7px;
  margin-top: 0.5px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  transition: 0.3s linear;
  transition-property: width, background-color;
}

.progress-moved .progress-bar2 {
  background-color: #ffffff;
  animation: progressAnimation 1s;
}

.pro_title {
  margin-top: 10%;
  margin-left: 7%;
  margin-bottom: 5%;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 15px;
  text-align: left;
}

#menu {
  min-width: 40%;
  width: 450px;
  position: absolute;
  top: 8.5%;
  right: 10px;
}

#menu ul {
  padding: 0;
  list-style: none;
  display: none;
  white-space: nowrap;
}

#menu li {
  display: inline-block;
}

#menu ul li {
  margin-left: -1px;
}

#menu ul:before {
  content: '';
  padding: 10px;
}

#menu ul:after {
  content: '';
  padding: 10px;
}

#menu a {
  display: inline-block;
  color: #333333;
  text-decoration: none;
}

#menu a >img {
  width: 100%;
  height: 100%;
}

#menu > li {
  margin-left: 93%;
}

#menu > li:hover ul {
  display: inline-block;
  z-index: 999;
}

.lank {
  display: flex;
  margin: 50px auto 150px;
}

.first {
  margin-left: 45%;
}

.second {
  float: left;
  margin-left: 35%;
}

.third {
  float: right;
  margin-right: 45%;
}

#lank {
  clear: both;
}

.lank_inner {
  position: relative;
}

.lank_text {
  font-family: "Gowun Dodum", sans-serif;
  font-size: 23px;
  text-align: left;
  margin-top: 10%;
  margin-left: 8%;
}

.front {
  font-size: 25px;
  color: #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 100%;
  text-align: center;
  z-index: 3;
  position: absolute;
}

.gold {
  background: gold;
  opacity: 80%;
}

.silver {
  background: silver;
  opacity: 90%;
}

.bronze {
  background: #cd7f32;
  opacity: 70%;
}

.back {
  font-size: 30px;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  background: #ffffff;
  position: absolute;
}

.back img {
  display: inline-block;
  width: 30%;
  height: 30%;
  margin: 20% auto 5%;
}

.back_text {
  font-size: 20px;
  text-align: center;
}

@media only screen and (min-width: 1920px) {
  .box {
    width: 1600px;
    margin-left: 5%;
    min-width: 50%;
    max-width: 120%;
    height: 480px;
    border-radius: 5px;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    margin-top: 50%;
  }

  #top_logo {
    -webkit-text-stroke: 1px #f48fb1;
    padding-left: 8%;
    padding-top: 3%;
  }

  .pro_container {
    position: fixed;
    width: 270px;
    height: fit-content;
    max-height: 300px;
    overflow-y: scroll;
    text-align: center;
    background: rgba(255,255,255,0.5);
    z-index: 15;
    top: 28%;
    left: 78%;
    font-family: "Gowun Dodum", sans-serif;
    font-size: 16px;
  }

  #menu {
    padding-right: 6%;
    top: 7%;
  }

  #menu > li > #top_nav {
    position: absolute;
    top: 10%;
    right: 15%;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    margin-right: -2vw;
  }

}
