@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");

html {
    width: 100%;
    height: 100%;
    position: relative;
    min-width: 1024px;
}

html::before {
  content: "";
  background: linear-gradient(45deg, pink, violet, skyblue);
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

body {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

div {
  display: block;
}

#wrapper > .box1 > #my_page > #container > #content {
    background: #f5f6f7;
    z-index: 1;
    width: 70%;
    height: 600px;
    margin-left: 15%;
    margin-top: 4%;
    border-radius: 20px;
    box-shadow: 0 2px 20px rgba(51, 51, 51, 0.5);
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
}

#top_logo {
  position: absolute;
  z-index: 3;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif !important;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  -webkit-text-stroke: 1px #f48fb1;
  margin-left: 30%;
}

#top_logo > img {
  width: 8%;
  float: left;
  padding-right: 1%;
}

#top_logo > a {
  color: #ffffff;
  -webkit-text-stroke: 1px #f48fb1;
  text-decoration: none;
}

.row > form > button > img {
    display: inline-block;
    width: 20%;
    height: 100%;
    float: left;
    margin-left: 7%;
}

#kakao_btn > .btn_text {
    float: right;
    line-height: 50px;
    margin-right: 7%;
    font-size: 15px;
}

#kakao_btn {
    background: #ffea00;
    width: 250px;
    height: 50px;
    border: 1px solid #ffea00;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 15%;
}

#kakao_btn:hover {
    background: #fee500;
}

.row {
    margin-left: 40%;
}

.row > h1 {
    margin-left: 4%;
    text-align: center;
}

#pay_wrap {
    position: absolute;
    max-width: 500px;
    margin-left: 28%;
    margin-top: 10%;
    font-family: "Gowun Dodum", sans-serif;
}

#check {
    text-align: left;
    margin-left: 35%;
    line-height: 40px;
}

#check > label, #check > label > input {
    cursor: pointer;
}