@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap");
#top_logo {
  position: absolute;
  top: 35px;
  left: 40px;
  z-index: 3;
  cursor: pointer;
  font-family: "Ubuntu", sans-serif;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  -webkit-text-stroke: 1px #f48fb1;
}

#top_logo > img {
  width: 8%;
  float: left;
  padding-right: 10px;
  margin-top: -15px;
}

#top_logo > a {
  color: #ffffff;
  -webkit-text-stroke: 1px #f48fb1;
  text-decoration: none;
}

#wrap {
  width: 100%;
  position: relative;
  background-color: #f5f6f7;
  min-width: 1024px;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
}

div {
  display: block;
}

body {
  font-size: 12px;
  line-height: 18px;
}

#nav, #logo {
  font-family: "Gowun Dodum", sans-serif;
}

#logo {
  font-size: 15px;
}

#contents {
  margin: 0 auto;
  min-width: 1024px;
  max-width: 2000px;
  min-height: 1000px;
  position: relative;
  padding-top: 130px;
  z-index: 1;
  background: #f5f6f7;
}

#wrap > #contents > #nav {
  top: 0;
}

a {
  text-decoration: none;
  color: #333333;
}

.section {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 2000px;
  overflow: hidden;
  background: #f5f6f7;
}

.section .inner {
  position: relative;
  top: 0;
  padding: 35px 0;
}

.inner {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
}

.section .inner > h3 {
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -2px;
  line-height: 1;
  color: #333333;
  padding-bottom: 10px;
}

.customer_cont .line {
  border-color: #f48fb1;
  margin-bottom: 30px;
}

.line {
  display: block;
  width: 15px;
  margin: 15px auto 17px;
  border-top: 1px solid #333333;
}

.pink {
  color: #f48fb1 !important;
}

.customer_cont .section .inner > h4 {
  padding-bottom: 16px;
}

.section .inner > h4 {
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  color: #333333;
  padding-top: 15px;
}

.blank_line {
  margin: 0 auto 14px;
  display: block;
  border-top: 1px solid #333333;
}

.customer_cont .blank_line {
  border-color: #333333;
  width: 13px;
}

.customer_cont .section .inner > p {
  font-size: 15px;
  color: #666666;
  line-height: 1.7;
}

.section .inner > p {
  font-weight: 400;
}

#footer {
  clear: both;
  margin: 0 auto;
  padding: 30px 0 15px 0;
  text-align: center;
  z-index: 5;
  position: relative;
  width: 100%;
  max-width: 2000px;
  min-width: 1024px;
  bottom: 0;
}

#footer * {
  font-size: 12px;
  font-style: normal;
  line-height: normal;
  margin: 0;
  padding: 0;
  color: #333333;
}

#footer address {
  font: 9px/14px Verdana;
  position: relative;
  z-index: 1;
  width: 100%;
  background-color: #f5f6f7;
}

#footer address em {
  font: 9px Verdana;
  padding-left: 4px;
}

:root #footer address .logo {
  top: 2px;
  margin-left: 1px;
}

#footer address .logo {
  position: relative;
  width: 63px;
  height: 12px;
}

#footer address span {
  font: 9px/14px Verdana;
  padding-left: 2px;
}

#footer address .u_cri {
  margin: 0;
  padding-left: 1px;
}

#footer address a {
  font: bold 9px Verdana;
}

#footer a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

#wrap > #contents > #nav > #logo > ul > li img {
  width: 200px;
  height: 80px;
  float: left;
  margin-left: 80px;
  margin-top: 140px;
}

#wrap > #contents > #nav > #logo > ul > li {
  clear: both;
}

#wrap > #contents > #nav > #logo > ul > li > .img_text {
  float: right;
  margin-right: 200px;
  margin-top: 120px;
  width: 600px;
}

#wrap > #contents > #nav > #logo > ul > li > #text1 {
  margin-top: 130px;
}

#wrap > #contents > #nav > #logo {
  margin-left: 20%;
}

.region_filter {
  text-align: center;
  margin-left: 300px;
  width: 400px;
  height: 300px;
  float: left;
}

.checkbox_filter {
  margin: 0;
  padding: 0;
  position: relative;
  width: 90%;
  height: 100%;
}

#checkbox_filter_id {

  display: flex;
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.region_eup {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 33%;
  height: 100%;
}

.region_dong {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 33%;
  height: 100%;
}

.region_dong > label {
  width: 100%;
  cursor: pointer;
  margin-bottom: 8%;
  display: inline-block;
  font-size: 14px;
}

.region_dong > input {
  display: none;
  width: 100%;
}

.btn-group {
  border: 0;
  margin-top: 40%;
  height: 20%;
  border-top: 0.1rem solid black;
}

.btn-group > input {
  margin-top:0.5rem;
  border: none;
  width: 45%;
  font-family: "Gowun Dodum", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

#map {
  margin-left: 750px;
  padding: 0;
  width: 30%;
  height: 500px;
}

.region_dong > h4 {
  width: 30%;
  margin-left: 30%;
}

.region_eup > h4 {
  text-align: center;
  margin-left: 30%;
}

.dong:checked + .on {
  color: #2678cc;
}

.btn-group > input {
  border-radius: 50px;
  background: #5b80b2;
  color: #ffffff;
}

.btn-group > input:hover {
  background: #2678cc;
}

@media only screen and (min-width: 1920px) {
  #map_wrap {
    margin-left: 200px;
  }

  .region_dong > label {
    font-size: 17px;
  }

  .region_eup > label {
    font-size: 17px;
  }
}