@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
#wrapper {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  zoom: 1;
}

* {
  -webkit-text-size-adjust: none;
}

div {
  display: block;
}

body {
  font-size: 0.81em;
}

#wrapper:after {
  display: block;
  clear: both;
}

#topmenu_wrapper {
  position: relative;
  z-index: 99;
  width: 1200px;
  height: 100px;
  margin: 0 auto;
}

#top_logo {
  position: absolute;
  top: 35px;
  left: 40px;
  z-index: 3;
  cursor: pointer;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
}

h1 {
  margin: 0;
  padding: 0;
  border: 0;
}

#top_nav {
  position: absolute;
  top: 26px;
  right: 40px;
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#top_nav>li {
  display: block;
  float: left;
  padding: 0 17px;
  position: relative;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: -0.3px;
  text-align: center;
}

#top_nav>li>a {
  display: block;
  padding: 17px 0 36px 0;
  zoom: 1;
  font-size: 15px;
  color: #f48fb1;
  font-weight: bold;
}
a{
  text-decoration: none;
}

body {
  background: #ffffff;
}

#top_logo {
  -webkit-text-stroke: 1px #f48fb1;
}

#top_logo>img {
  width: 8%;
  float: left;
  padding-right: 10px;
}

html, body {
  height: 95%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 1500px;
  height: 480px;
  border-radius: 5px;
  box-shadow: 0 2px 30px rgba(black, .2);
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.wave {
  opacity: .4;
  position: absolute;
  top: 3%;
  left: 45%;
  background: #0af;
  width: 650px;
  height: 650px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  animation: drift 3000ms infinite linear;
}

.wave.-three {
  animation: drift 5000ms infinite linear;
}

.wave.-two {
  animation: drift 7000ms infinite linear;
  opacity: .1;
  background: yellow;
}

.box:after {
  content: '';
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(#e8a, 1), rgba(#def, 0) 80%, rgba(white, .5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}

.title1 {
  position: absolute;
  left: 0;
  top: 30px;
  width: 100%;
  z-index: 1;
  line-height: 210px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-family: 'Gowun Dodum', sans-serif;
  letter-spacing: .4em;
  font-size: 24px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
.title2 {
  position: absolute;
  left: 0;
  top: 180px;
  width: 100%;
  z-index: 1;
  line-height: 210px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: #ffffff;
  text-transform: uppercase;
  font-family: 'Playfair Display', serif;
  letter-spacing: .4em;
  font-size: 30px;
  text-shadow: 0 1px 0 rgba(black, .1);
  text-indent: .3em;
}
@keyframes drift {
  from { transform: rotate(0deg); }
  from { transform: rotate(360deg); }
}

#top_logo>a{
  color: #ffffff;
  -webkit-text-stroke: 1px #f48fb1;
}

.topmenu_wrapper>#top_nav>li {
  background-color: #f48fb1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 40px;
  margin-top: 30px;
  margin-left: 10px;
  box-shadow: 0 0.1px 30px rgba(black, .2);

}

#wrapper>.topmenu_wrapper>#top_nav>li>a {
  color: #ffffff;
  margin-top: -10px;
}

.topmenu_wrapper>#top_nav>.list1 {
  background: #f8bbd0;
}

.topmenu_wrapper>#top_nav>.list4 {
  background: #fbc02d;
}

.topmenu_wrapper>#top_nav>.list3 {
  background: #039be5;
}

ul li {
  list-style: none;
}

.topmenu_wrapper>ul>li>ul {
  width: 87px;
  display: none;
  position: absolute;
  font-size: 14px;
  background: #f5f6f7;
  margin-top: -29px;
  margin-left: -17px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  line-height: 40px;
}

.topmenu_wrapper>ul>li>ul>li {
  vertical-align: middle;
}

.topmenu_wrapper>ul>li:hover>ul {
  display: block;
  z-index: 2;
}

.topmenu_wrapper>ul>li>ul>li:hover {
  cursor: pointer;
}

.topmenu_wrapper>ul>li>ul {
  background-color: #f5f6f7;
  color: #333333;
}

.wrapper>.topmenu_wrapper>#top_nav>.list2>ul>a>li, .wrapper>.topmenu_wrapper>#top_nav>.list3>ul>a>li {
  background: #f5f6f7;
  color: #333333;
}

.wrapper>.topmenu_wrapper>#top_nav>.list2>ul>a>li:hover {
  background-color: #29b6f6;
  color: #ffffff;
}
.wrapper>.topmenu_wrapper>#top_nav>.list3>ul>a>li:hover {
  background-color: #f8bbd0;
  color: #ffffff;
}