<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Donut</title>
    <link rel="stylesheet" href="../../../static/css/home.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        /* 인기 게시글 롤링 */
        $(document).ready(function() {
            var $banner = $(".banner").find("ul");

            var $bannerWidth = $banner.children().outerWidth();
            var $bannerHeight = $banner.children().outerHeight();
            var $bannerLength = $banner.children().length;
            var rollingId;

            rollingId = setInterval(function() { rollingStart(); });

            function rollingStart() {
                $banner.css("width", $bannerWidth * $bannerLength + "px");
                $banner.css("height", $bannerHeight + "px");
                $banner.animate({left: - $bannerWidth + "px"}, 2000, function() {
                    $(this).append("<li>" + $(this).find("li:first").html() + "</li>");
                    $(this).find("li:first").remove();
                    $(this).css("left", 0);
                });
            }
        });

        let state = "{{ state }}";

        /* 움직이는 진행바 js*/
        if (state == "a")
        {
            $(function () {
                     $(".progress-bar2").css({
                        "width": "25%"
                     });
                     let animation = document.styleSheets[0].cssRules[0];
                     animation.appendRule('100% {width: 25%; background-color: #ef476f;}');
            });
        }
        else if (state == "b")
        {
               $(function () {
                     $(".progress-bar2").css({
                        "width": "50%"
                     });
                     let animation = document.styleSheets[0].cssRules[0];
                     animation.appendRule('100% {width: 50%; background-color: #ef476f;}');
            });
        }
        else if (state == "c")
        {
               $(function () {
                     $(".progress-bar2").css({
                        "width": "75%"
                     });
                     let animation = document.styleSheets[0].cssRules[0];
                     animation.appendRule('100% {width: 75%; background-color: #ef476f;}');
            });
        }
        else
        {
               $(function () {
                     $(".progress-bar2").css({
                        "width": "0%"
                     });
                     let animation = document.styleSheets[0].cssRules[0];
                     animation.appendRule('100% {width: 0%; background-color: #ef476f;}');
            });
        }

        /* 진행 상황 스크롤 따라 움직이기 */
        $(document).ready(function () {
            var currentPosition = parseInt($(".pro_container").css("top"));
            $(window).scroll(function () {
                var position = $(window).scrollTop();
                $(".pro_container").stop().animate({"top":position+currentPosition+"px"});
            });
        });
    </script>
</head>
<body>
<div class="wrapper">
    <div class="topmenu_wrapper">
        <h1 id="top_logo">
            <img src="../../../static/img/donut.png" alt="">
            <a href="{% url 'introapp:home' %}">Donut</a>
        </h1>

        <ul id="menu">
            <li>
                <a href="#"><img src="../../../static/img/menubar.png" alt=""></a>
                <ul id="top_nav" class="sub">
                    {% if not user.is_authenticated %}
                    <li class="list1 nav_li">
                        <a href="{% url 'accountapp:login' %}">로그인</a>
                    </li>
                    <li class="list2 nav_li">
                        <a href="{% url 'accountapp:create' %}">회원가입</a>
                    </li>
                    <li class="list3 nav_li">
                        <a href="{% url 'articleapp:list' %}">공구모집</a>
                    </li>
                    <li class="list4 nav_li">
                        <a href="{% url 'introapp:societyinfo' %}">단체소개</a>
                    </li>
                    {% else %}
                    <li class="list1 nav_li">
                        <a href="{% url 'accountapp:detail' pk=user.pk %}">마이페이지</a>
                    </li>
                    <li class="list2 nav_li">
                        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}">로그아웃</a>
                    </li>
                    <li class="list3 nav_li">
                        <a href="{% url 'articleapp:list' %}">공구모집</a>
                    </li>
                    <li class="list4 nav_li">
                        <a href="{% url 'introapp:societyinfo' %}">단체소개</a>
                    </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>

    <div class="box">
        <div class="wave -one"></div>
        <div class="wave -two"></div>
        <div class="wave -three"></div>
        <div class="title1">가장 투명한 기부</div>
        <div class="title2">Donut</div>
        <div class="title3">&</div>
        <div class="title4"><img src="" alt=""></div>
    </div>

    <div class="pro_container">
        {% if campaign_title %}
            진행 중인 캠페인
        {% else %}
        <div class="no_camp">
            진행 중인 캠페인이 없습니다
        </div>
        {% endif %}
        <div class="pro_title">
            {% if campaign_title %}
            {{ campaign_title }}
            <div class="progress2 progress-moved">
                <div class="progress-bar2"></div>
            </div>
        </div>
    </div>

    <div class="banner_top">
        {% if popular_article %}
        <div class="banner_title">
            인기 게시글
        </div>
        <div class="banner">
            <ul>
                {% for each in popular_article %}
                <li>
                    <hr>
                    <a href="{% url 'articleapp:detail' each.id %}">
                        <img src="../../../static/img/fire.png">
                        <h2>{{each.title}}</h2>
                    </a>
                    <hr>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
<div id="footer">
    <address>
        <em class="copy">고려대학교 세종캠퍼스 </em>
        <em class="u_cri">©</em>
        <a href="{% url 'introapp:home' %}" class="u_cra">Donut</a>
    </address>
</div>
</body>
</html>