{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="item1">
    <img src="https://picsum.photos/id/237/200/300" alt="">
  </div>
  <div class="item2">
    <img src="https://picsum.photos/id/237/200/300" alt="">
  </div>
  <div class="item3">
    <img src="https://picsum.photos/id/237/200/300" alt="">
  </div>
</div>

<style>
    .container {
        padding: 0;
        margin: 0, auto;
    }

    .container a {
       width: 45%;
       max-width: 250px;
    }

    .container div {
      width: 250px;
      background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
    }

    .container img {
      width: 100%;
      border-radius: 1rem;
    }
</style>

<script src="{% static 'js/magicgrid.js' %}"></script>

{% endblock %}