{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- swiper슬라이더 메인컨테이너 -->
<div class="swiper-container">
  <!-- 보여지는 영역 -->
  <div class="swiper-wrapper">
    <!-- div class="swiper-slide" 를 추가하면된다 -->
    <div class="swiper-slide">
      <img alt="" src="https://picsum.photos/200"/>
      <img alt="" src="https://picsum.photos/200"/>
      <img alt="" src="https://picsum.photos/200"/>
    </div>
    <div class="swiper-slide">
      <img alt="" src="https://picsum.photos/200"/>
      <img alt="" src="https://picsum.photos/200"/>
      <img alt="" src="https://picsum.photos/200"/>
    </div>
    <div class="swiper-slide">
      <img alt="" src="https://picsum.photos/200"/>
      <img alt="" src="https://picsum.photos/200"/>
      <img alt="" src="https://picsum.photos/200"/>
    </div>
  </div>
  <!-- 페이징 버튼 처리 -->
  <div class="swiper-pagination"></div>

</div>


<style>
  html, body {
      position: relative;
      height: 85vh;
    }
    body {
      background: #fff;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 65vh;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      width:400px;
      margin:0 25px 25px 0;
      border-radius:20px;
    }

.swiper-container-vertical>.swiper-pagination-bullets{
    top: unset !important;
    bottom: 10px;
    left: 0;
    width: 100%;
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet{
  display : inline-block !important;
  margin: 6px 2px !important;
}

.swiper-pagination-bullet {
    background: #ffb6c1;
}

</style>

<script src="{% static 'js/swiper.js' %}"></script>

{% endblock %}