<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/css/societyinfo.css">
    <link rel="stylesheet" href="../../../static/SASS/societyinfo.scss">
    <script>
        function checkOnlyOne(element) {
            const checkboxes = document.getElementsByName("region");

            checkboxes.forEach((cb) => {
                cb.checked = false;
            })

            element.checked = true;
        }
    </script>
</head>
<body>
<div id="wrap">
    <div id="contents" class="customer">
        <!-- Donut 상단 로고 -->
        <h1 id="top_logo">
            <img src="../../../static/img/donut.png" alt="">
            <a href="{% url 'introapp:home' %}">Donut</a>
        </h1>

        <!-- 페이지 소개 -->
        <div id="nav">
            <div class="inner_cont customer_cont">
                <div class="section section-top">
                    <div class="inner">
                        <h3>단체 소개</h3>
                        <div class="line pink"></div>
                        <h4>협력 후원 단체</h4>
                        <div class="blank_line"></div>
                        <p>
                            Donut에 방문해 주셔서 감사합니다.
                        </p>
                    </div>
                </div>
            </div>

            <div class = "region_filter">
                <div class="checkbox_filter">
                    <div class = "region_eup">

                        <h4>읍</h4>

                        <label for="eup1" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="eup1" /> 조치원읍</label>

                    </div>
                    <div class = "region_myeon">
                        <h4>면</h4>

                        <label for="myeon1" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="myeon1" /> 연기면</label>

                        <label for="myeon2" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="myeon2" /> 연동면</label>

                        <label for="myeon3" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="myeon3" /> 부강면</label>

                        <label for="myeon4" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="myeon4" /> 금남면</label>

                        <label for="myeon5" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="myeon5" /> 장군면</label>

                        <label for="myeon6" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="myeon6" /> 연서면</label>

                        <label for="myeon7" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="myeon7" /> 전의면</label>

                        <label for="myeon8" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="myeon8" /> 전동면</label>

                        <label for="myeon9" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="myeon9" /> 소정면</label>
                    </div>
                    <div class = "region_dong">
                        <h4>동</h4>

                        <label for="dong1" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong1" /> 한솔동</label>

                        <label for="dong2" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong2" /> 도담동</label>

                        <label for="dong3" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong3" /> 아름동</label>

                        <label for="dong4" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong4" /> 종촌동</label>

                        <label for="dong5" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong5" /> 고운동</label>

                        <label for="dong6" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong6" /> 보람동</label>

                        <label for="dong7" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong7" /> 새롬동</label>

                        <label for="dong8" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong8" /> 대평동</label>

                        <label for="dong9" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong9" /> 소담동</label>

                        <label for="dong10" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong10" /> 다정동</label>

                        <label for="dong11" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong11" /> 해밀동</label>

                        <label for="dong12" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong12" /> 반곡동</label>
                    </div>
                </div>
                <input type="checkbox" id="female" name="gender" value="female">
                <label for="female">female</label>
                <div class="search_btn">
                        <input type='submit' value="제출">
                </div>

                <div class="delete_btn">

                </div>
            </div>



        </div>
    </div>
    <div id="footer">
        <address>
            <em><a href="{% url 'introapp:home' %}" class="logo"><span class="blind"></span></a></em>
            <em class="copy">고려대학교 세종캠퍼스</em>
            <em class="u_cri">©</em>
            <a href="{% url 'introapp:home' %}" class="u_cra">Donut</a>
        </address>
    </div>
</div>
</body>
</html>