<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/css/societyinfo.css">
    <link rel="stylesheet" href="../../../static/SASS/societyinfo.scss">
</head>
<body>
<div id="wrap">
    <div id="contents" class="customer">
        <!-- Donut 상단 로고 -->
        <h1 id="top_logo">
            <img src="../../../static/img/donut.png" alt="">
            <a href="{% url 'introapp:home' %}">Donut</a>
        </h1>

        <!-- 페이지 소개 -->

        <div id="nav">
            <div class="inner_cont customer_cont">
                <div class="section section-top">
                    <div class="inner">
                        <h3>단체 소개</h3>
                        <div class="line pink"></div>
                        <h4>협력 후원 단체</h4>
                        <div class="blank_line"></div>
                        <p>
                            Donut에 방문해 주셔서 감사합니다.
                        </p>
                    </div>
                </div>
            </div>


            <div class = "region_filter" style="text-align: center">
                <div class="checkbox_filter">
                    <form method="post" action="societyinfo.html">


                        <h4>읍</h4>

                        <label for="eup1" style="cursor:pointer"><input type="checkbox" name="region" id="eup1" value="조치원읍"/> 조치원읍</label>


                        <h4>면</h4>

                        <label for="myeon1" style="cursor:pointer"><input type="checkbox" name="region" id="myeon1" value="연기면" /> 연기면</label>

                        <label for="myeon2" style="cursor:pointer"><input type="checkbox" name="region" id="myeon2" value="연동면"/> 연동면</label>

                        <label for="myeon3" style="cursor:pointer"><input type="checkbox" name="region" id="myeon3" value="부강면"/> 부강면</label>

                        <label for="myeon4" style="cursor:pointer"><input type="checkbox" name="region" id="myeon4" value="금남면"/> 금남면</label>

                        <label for="myeon5" style="cursor:pointer"><input type="checkbox" name="region" id="myeon5" value="장군면" /> 장군면</label>

                        <label for="myeon6" style="cursor:pointer"><input type="checkbox" name="region" id="myeon6" value="연서면"/> 연서면</label>

                        <label for="myeon7" style="cursor:pointer"><input type="checkbox" name="region" id="myeon7" value="전의면"/> 전의면</label>

                        <label for="myeon8" style="cursor:pointer"><input type="checkbox" name="region" id="myeon8" value="전동면"/> 전동면</label>

                        <label for="myeon9" style="cursor:pointer"><input type="checkbox" name="region" id="myeon9" value="소정면"/> 소정면</label>

                        <h4>동</h4>

                        <label for="dong1" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong1" value="한솔동"/> 한솔동</label>

                        <label for="dong2" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong2" value="도담동"/> 도담동</label>

                        <label for="dong3" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong3" value="아름동"/> 아름동</label>

                        <label for="dong4" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong4" value="종촌동"/> 종촌동</label>

                        <label for="dong5" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong5" value="고운동"/> 고운동</label>

                        <label for="dong6" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong6" value="보람동"/> 보람동</label>

                        <label for="dong7" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong7" value="새롬동"/> 새롬동</label>

                        <label for="dong8" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong8" value="대평동"/> 대평동</label>

                        <label for="dong9" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong9" value="소담동"/> 소담동</label>

                        <label for="dong10" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong10" value="다정동"/> 다정동</label>

                        <label for="dong11" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong11" value="해밀동"/> 해밀동</label>

                        <label for="dong12" style="cursor:pointer" class = "on"><input type="checkbox" name="region" id="dong12" value="반곡동"/> 반곡동</label>

                        <a href="#" class="search_btn" style="margin-left: 5rem">검색</a>
                    </form>
                </div>
            </div>



        </div>
    </div>

    <div id="map" style="width:500px;height:400px;"></div>
	<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3484f791cc128fd4a942d09c56cd52e5"></script>
	<script>
		var container = document.getElementById('map');
		var options = {
			center: new kakao.maps.LatLng(33.450701, 126.570667),
			level: 3
		};

		var map = new kakao.maps.Map(container, options);
	</script>

    <div id="footer">
        <address>
            <em><a href="{% url 'introapp:home' %}" class="logo"><span class="blind"></span></a></em>
            <em class="copy">고려대학교 세종캠퍼스</em>
            <em class="u_cri">©</em>
            <a href="{% url 'introapp:home' %}" class="u_cra">Donut</a>
        </address>
    </div>
</div>
</body>
</html>