<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../static/css/profile.css">
</head>
<body>
<div id="wrapper">
    <div class="box1">
        <form id="my_page" method="post">
            <div id="container">
                <div id="content">
                    <div id="header">
                        <h1 id="top_logo">
                            <img src="../../../static/img/donut.png" alt="">
                            <a href="{% url 'introapp:home' %}">Donut</a>
                        </h1>
                    </div>
                    <div class="popup-cont01 top">
                        <img src="../../../static/img/donut.png" alt="">
                        <p>
                            결제가 완료되었습니다!
                            <br>
                            <span>주문자 정보</span>
                        </p>
                        <hr>
                        <div id="popup-cont02">
                            <p> <span class="in_p">주문번호: </span> {{ res.partner_order_id }}</p>
                            <p> <span class="in_p">참여한 기부명: </span>{{ res.item_name }}</p>
                            <p> <span class="in_p">결제금액: </span>{{ amount }}원</p>
                            <p> <span class="in_p">결제승인시각: </span>{{ res.approved_at }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>