<style>
    .text {
            margin-top: 2px;
            text-align: center;
            vertical-align: middle;
            font-family: 'Jua', sans-serif;
        }
</style>

<div style="text-align: center; ">
    <h3 style="margin-top : 2rem; font-family: 'Balsamiq Sans', cursive; color: lightpink;">Donut</h3>
    <h7 class="text"> 고려대학교 세종캠퍼스 Donut </h7>
    <h6 class="text">대표 박소연</h6>
    <span class="material-icons">smartphone</span>
    <h6 style="'Jua', sans-serif; display: inline;">01058997804</h6>
</div>