 <style>
    .navbar {
        text-align: center;
        float: right;
        font-family: 'Jua', sans-serif;
        font-size: 1.5rem;
    }
    span {
        margin : 0.8rem;
    }
 </style>

 <div style="margin:1.5rem 1rem;">
    <a href="{% url 'introapp:list' %}" style="color: inherit; text-decoration: none;">
        <img style="float:left; height:55px; width:55px;" alt="" src="https://notion-emojis.s3-us-west-2.amazonaws.com/prod/svg-twitter/1f369.svg"/>
        <span style="color: lightpink; font-family: 'Balsamiq Sans', cursive; font-size:2.6rem;">Donut</span>
    </a>

    <div class="navbar">
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" style="color: inherit;">
            <span>로그인</span>
        </a>

        {% else %}
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" style="color: inherit;">
            <span>로그아웃</span>
        </a>
        {% endif %}

        <a href="{% url 'accountapp:create' %}" style="color: inherit;">
            <span>회원가입</span>
        </a>

        <a href="{% url 'articleapp:list' %}" style="color: inherit;">
            <span>공구모집</span>
        </a>

        <a href="{% url 'introapp:list' %}" style="color: inherit;">
            <span>단체소개</span>
        </a>
    </div>
</div>