{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="../../../static/css/button.css">
<link rel="stylesheet" href="../../../static/css/delete.css">

    <div class="delete">
        <div class="mb-4">
            <h4>Delete Article: {{ object.title }}</h4>
        </div>
        <form action="{% url 'articleapp:delete' pk=object.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" class="button">
        </form>
    </div>

{% endblock %}