{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/button.css' %}">
<link rel="stylesheet" href="{% static 'css/board.css' %}">

<div>
    <div style="text-align: center; max-width: 700px; margin: 4rem auto;">
        <h1>{{ object.title }}</h1>
        <h6>작성자: {{ object.writer }}</h6>
        <hr>

        {% if object.image %}
            <img style="width: 100%; border-radius: 1rem; margin: 2rem 0;"
             src="{{ object.image.url }}" alt="">
        {% else %}

        <p style="padding: 1rem;">
            {{ object.content }}
        </p>

        {% if object.writer == user %}
        <a href="{% url 'articleapp:update' pk=object.pk %}" class="button">
            수정
        </a>

        <a href="{% url 'articleapp:delete' pk=object.pk %}" class="button">
            삭제
        </a>
        {% endif %}

        {% endif %}
        <a href="{% url 'articleapp:list' %}" class="button">
            목록
        </a>


        {% for comment in target_article.comment.all %}
            {% include 'commentapp/detail.html' with comment=comment%}
        {% endfor %}
        {% include 'commentapp/create.html' with article=target_article %}


    </div>
</div>

{% endblock %}