{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="../../../static/css/button.css">
<link rel="stylesheet" href="../../../static/css/board.css">
<link rel="stylesheet" href="../../../static/css/detail.css">

<div>
    <div class="detail">
        <h1>{{ object.title }}</h1>
        <h5>희망 모금액: {{ object.price }}원</h5>
        <h6>작성자: {{ object.writer }}</h6>
        <h6>누적액:{{ object.amount }}</h6>

        {% if user.is_authenticated %}
            {% if A %}
                {% for each in A %}
                    <form action="{% url 'articleapp:deletecamp' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="text" value={{object.pk}} >
                        <input type="hidden" name="sum" value={{object.amount}} >
                        <input type="hidden" name="amount" value={{each.amount}} >
                        <button type="submit"  class="btn btn-danger rounded-pill col-6 mt-3">참여취소</button>
                    </form>
                {% endfor %}
            {% else %}
                {% if abc %}

                <p>회원님은 다른 기부에 참여중입니다.</p>

                {% else %}
                    <form action="{% url 'articleapp:campaign' %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="text" value={{object.pk}} >
                        <input type="hidden" name="price" value={{object.price}} >
                        <input type="hidden" name="sum" value={{object.amount}} >
                        <input type="hidden" name="title" value={{object.title}} >
                        <input type="hidden" name="username" value={{user.username}} >
                        <input type="hidden" name="state" value="a" >
                        금액 : <input type="number" name="amount" min="1">
                        <button type="submit"  class="btn btn-danger rounded-pill col-6 mt-3">참여하기</button>
                    </form>
                {% endif %}
            {% endif %}
        {% endif %}

        <hr>

        {% if object.image %}
            <img src="{{ object.image.url }}" alt="">
            <p> {{ object.content }} </p>
        {% else %}
        <p>
            {{ object.content }}
        </p>
        {% endif %}

        {% if user.is_authenticated %}
            {% if object.writer == user %}
            <a href="{% url 'articleapp:update' pk=object.pk %}" class="button">
                수정
            </a>

            <a href="{% url 'articleapp:delete' pk=object.pk %}" class="button">
                삭제
            </a>
            {% endif %}

        <a href="{% url 'articleapp:list' %}" class="button">
            목록
        </a>


        {% include 'commentapp/create.html' with article=target_article %}
        {% for comment in target_article.comment.all %}
            {% include 'commentapp/detail.html' with comment=comment%}
        {% endfor %}

        {% endif %}

    </div>
</div>

{% endblock %}