<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/css/article_detail.css">
</head>
<body>
{% load static %}
<div id="wrap">
    <div id="header">
        <h1 id="top_logo">
            <img src="../../../static/img/donut.png" alt="">
            <a href="{% url 'introapp:home' %}">Donut</a>
        </h1>
    </div>
    <div id="container">
        <div id="content">
            <div class="detail">
                <h1>{{ object.title }}</h1>
                <h5>희망 모금액: {{ object.price }}원</h5>
                <h6>작성자: {{ object.writer }}</h6>
                <h6>누적액: {{ object.total_amount }}원</h6>

                {% if user.is_authenticated %}
                    {% if all_D %}
                        해당 기부는 종료되었습니다.
                    {% else %}
                        {% if A %}
                            {% if A.state == 'a' %}
                            <form action="{% url 'articleapp:deletecamp' %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="article_id" value={{object.pk}} >
                                <input type="hidden" name="amount" value={{object.amount}} >
                                <button type="submit"  class="btn btn-danger rounded-pill col-6 mt-3">참여취소</button>
                            </form>
                            {% elif A.state == 'b' %}
                                회원님의 입금이 확인 되어 배송을 기다리고 있습니다.
                            {% elif A.state == 'c' %}
                                현재 기부가 배송중입니다.
                            {% endif %}
                        {% else %}
                            {% if abc %}
                                회원님은 다른기부에 참여중입니다.
                            {% else %}
                                <form id="form2" action="{% url 'articleapp:campaign' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="article_id" value={{object.pk}} >
                                    <input type="hidden" name="state" value="a" >
                                    금액 : <input type="number" name="amount" min="1">
                                    <button id="btn1">
                                        <span class="wave"></span>
                                        참여하기
                                    </button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% endif %}
                <hr>

                {% if object.image %}
                    <img src="{{ object.image.url }}" alt="">
                    <p> {{ object.content }} </p>
                {% else %}
                <p>
                    {{ object.content }}
                </p>
                {% endif %}

                <hr>
                {% if object.writer == user %}

                    <a class="a_tag" href="{% url 'articleapp:delete' pk=object.pk %}" class="button">
                        삭제
                    </a>

                    <a class="a_tag" href="{% url 'articleapp:update' pk=object.pk %}" class="button">
                        수정
                    </a>



                {% endif %}

                <a class="a_tag" href="{% url 'articleapp:list' %}" class="button">
                    목록
                </a>


                {% if object.writer == user %}
                    {% if all_C %}
                    <a class="a_tag" href="{% url 'articleapp:receipt' pk=object.pk %}" class="button">
                        영수증 제출
                    </a>
                    {% endif %}

                    {% if not all_A and not all_C %}
                        {% if object.total_amount >= object.price %}
                                <form method="POST" action="{% url 'articleapp:price' pk=object.pk %}">
                                    {%csrf_token%}
                                    <input type="hidden" name="article_id" value="{{ object.pk }}">
                                    <button type="submit"  class="btn btn-danger rounded-pill col-6 mt-3">배송시작</button>
                                </form>

                                <a href="{% url 'articleapp:price' pk=object.pk %}" class="button">
                                프라이스 이동
                                </a>

                        {% endif %}
                    {% endif %}
                {% endif %}

                <div>
                    {% if object.receipt %}
                        {% if object.writer == user or user.is_superuser %}
                            <strong>영수증</strong> </br>
                            <img src="{{ object.receipt.url }}" alt=""> </br></br></br>
                            {% if user.is_superuser %}
                                <form action="{% url 'articleapp:detail' pk=object.pk %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="article_id" value={{object.pk}} >
                                    <button type="submit"  class="btn btn-danger rounded-pill col-6 mt-3">영수증확인</button>
                                </form>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                </div>

                {% include 'commentapp/create.html' with article=target_article %}
                {% for comment in target_article.comment.all %}
                    {% include 'commentapp/detail.html' with comment=comment%}
                {% endfor %}
            </div>
            <div id="footer">
                <address>
                    <em><a href="../../../introapp/templates/introapp/home.html" class="logo"><span
                            class="blind"></span></a></em>
                    <em class="copy">고려대학교 세종캠퍼스</em>
                    <em class="u_cri">©</em>
                    <a href="#" class="u_cra">Donut</a>
                </address>
            </div>
        </div>
    </div>
</div>
</body>
</html>