<!DOCTYPE html>

{% load bootstrap4 %}

<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/css/practice.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
<!-- 팝업창 띄우기 js -->
<script>
    window.onload = function () {
        function onClick() {
            document.querySelector('.modal_wrap').style.display = 'block';
            document.querySelector('.black_bg').style.display = 'block';
        }
        function offClick() {
            document.querySelector('.modal_wrap').style.display = 'none';
            document.querySelector('.black_bg').style.display = 'none';
        }
        document.getElementById('modal_btn').addEventListener('click', onClick);
        document.querySelector('.modal_close').addEventListener('click', offClick);
    };
</script>

<div id="wrap">
    <div id="contents" class="customer">
        <!-- Donut 로고 -->
        <h1 id="top_logo">
            <img src="../../../static/img/donut.png" alt="">
            <a href="{% url 'introapp:home' %}">Donut</a>
        </h1>

        <div class="inner_cont customer_cont">
            <div class="section section-top">
                <div class="inner">
                    <h3>모집 안내</h3>
                    <div class="line pink"></div>
                    <h4>공고모집 살펴보기</h4>
                    <p>
                        Donut에 방문해 주셔서 감사합니다.
                    </p>

                    <!-- 카테고리 -->
                    <div id="category">
                        <h3 style="text-align: left; color: lightslategray">카테고리</h3>
                        <br>
                        <ul>
                            <li><a href="/articles/donate_list"><img src="../../../static/img/donation.png"> 기부</a></li>
                            <li><a href="/articles/volunteer_list"><img src="../../../static/img/volunteer.png"> 봉사</a></li>
                            <li style="background-color: rgba(43, 53, 54, 0.3);"><a href="/articles/goods_list"><img src="../../../static/img/objects.png"> 굿즈</a></li>
                        </ul>
                    </div>

                    <!-- 검색 구역 -->
                    <div id="search">
                        <div id="searchimg">
                            <img src="../../../static/img/search.png">
                        </div>
                        <form action="" method="GET">
                            <div id="searchtxt">
                                <input type="text" name="q" value="{{ q }}" placeholder="검색어를 입력해주세요.">
                            </div>
                        </form>
                    </div>

                    <!-- 게시글 구역 -->
                    {% if object_list %}
                    <div class="content">
                        {% for each in object_list %}
                        <ul class="card">
                            <li>
                                <div class="img">
                                    {% if each.image %}
                                        <img src="{{ each.image.url }}" alt="">
                                    {% else %}
                                        <img src="https://i.pinimg.com/236x/1b/d6/ab/1bd6ab1856d5a899d5c65900b51cf73f.jpg" alt="">
                                    {% endif %}
                                </div>
                                <div class="text">
                                    <h2>{{each.title}}</h2>
                                    <p>{{each.writer}}</p>
                                    <div class="button">
                                        <a href="{% url 'articleapp:detail' each.id %}">
                                            <div class="btnText">
                                                자세히보기
                                            </div>
                                            <div class="btnTwo">
                                                <p class="btnText2">GO!</p>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        {% endfor %}

                        <!-- 글이 없는 경우 -->
                        {% else %}
                        <div class="text-center">
                            <h1>No Articles YET!</h1>
                        </div>
                        {% endif %}
                    </div>

                    <!-- 글쓰기 버튼 -->
                    <div class="inner_bottom">
                        <div id="btn">
                            <button class="custom btn-1">

                                <a href="/articles/create_goods">

                                새로운 캠페인
                                </a>
                            </button>
                        </div>
                    </div>

                    <!-- 페이징 구역 -->
                    <div id="page_nav">
                        <ul class="pagination justify-content mb-4">
                            {% if page_obj.has_previous %}
                            <li class="page-item prev">
                                <a class="page-link" href="?page={{page_obj.previous_page_number}}">< Prev</a>
                            </li>
                            {% endif %}

                            {% for p in page_obj.paginator.page_range %}
                            <li class="page-num">
                                <a href="?page={{p}}" class="mx-1">{{p}}</a>
                            </li>
                            {% endfor %}

                            {% if page_obj.has_next %}
                            <li class="page-item next">
                                <a class="page-link" href="?page={{page_obj.next_page_number}}">Next ></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                    <!-- 맨 위로 이동 하는 버튼-->
                    <div id="top"><a href="#"><i class="fa fa-arrow-up"><img src="../../../static/img/up.png"></i></a></div>
                    <script>
                        $('#top').click(function () {
                            $('html, body').animate({scrollTop:0}, 'slow');
                        });
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <address>
            <em><a href="../../../introapp/templates/introapp/home.html" class="logo"><span class="blind"></span></a></em>
            <em class="copy">고려대학교 세종캠퍼스</em>
            <em class="u_cri">©</em>
            <a href="#" class="u_cra">Donut</a>
        </address>
    </div>
</div>
<div>
    {% if q %}
    <h5 style="font-weight: 550;">'{{ q }}' 검색 결과입니다.</h5>
    {% endif %}
</div>
</body>
</html>