{% extends 'base.html' %}

{% block content %}

<style>
    .container {
      padding: 0;
      margin: 0, auto;
    }

    .container a {
      width: 45%;
      max-width: 250px;
    }

    .container div {
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 1rem;
    }

    .container img{
      width: 100%;
      border-radius: 1rem;
    }
</style>


<body>
    {% if object_list %}
    <ul>
      {% for each in object_list %}
      <li>
        {{each.id}} [{{each.writer}}]
        <a href="{% url 'articleapp:detail' each.id %}">{{each.title}}</a>
        [{{each.created_at}}]
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <div class="text-center">
      <h1>No Articles YET!</h1>
    </div>
    {% endif %}

    {% if is_paginated %}
    <ul>
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
      {% else %}
      <li><span>&laquo;</span></li>
      {% endif %}

      {% for i in paginator.page_range %}
        {% if page_obj.number == i %}
      <li>
        <span>{{ i }} <span>(current)</span></span>
      </li>
        {% else %}
      <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
      {% else %}
      <li><span>&raquo;</span></li>
      {% endif %}
    </ul>
    {% endif %}
    <div style="text-align:center">
      <a href="{% url 'articleapp:create' %}" class="btn btn-dark rounded-pill mt-3 mb-3 px-3">
        Create Article
      </a>
    </div>
</body>

{% endblock %}