<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../../../static/css/recruitment.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script language="JavaScript">
        $(document).ready(function() {
            var $banner = $(".banner").find("ul");

            var $bannerWidth = $banner.children().outerWidth();
            var $bannerHeight = $banner.children().outerHeight();
            var $bannerLength = $banner.children().length;
            var rollingId;

            rollingId = setInterval(function() { rollingStart(); });

            function rollingStart() {
                $banner.css("width", $bannerWidth * $bannerLength + "px");
                $banner.css("height", $bannerHeight + "px");
                $banner.animate({left: - $bannerWidth + "px"}, 1500, function() {
                    $(this).append("<li>" + $(this).find("li:first").html() + "</li>");
                    $(this).find("li:first").remove();
                    $(this).css("left", 1);
                });
            }
        });
    </script>

</head>
<body>
<div id="wrap">
    <div id="contents" class="customer">
        <h1 id="top_logo">
            <img src="../../../static/img/donut.png" alt="">
            <a href="../../../introapp/templates/introapp/home.html">Donut</a>
        </h1>
        <div class="banner_top white">
            <div class="banner">
                <ul>
                    <li>
                        <img src="https://www.unicef.or.kr/static/logo_active@2x-8a9e02df64d664f02ffc1ceaaa5ad4fd.png">
                    </li>
                    <li>
                        <img src="https://chest.or.kr/common/img/common/logo.png">
                    </li>
                    <li>
                        <img src="https://www.redcross.or.kr/images/main_v14/dh-logo.gif">
                    </li>
                    <li>
                        <img src="https://www.kidsfuture.or.kr/data/file/202107031920_2cc731ced8d1b0000.png">
                    </li>
                    <li>
                        <img src="https://www.sc.or.kr/webPub/sc_2018/images/main/logo_on.png">
                    </li>
                    <li>
                        <img src="https://www.worldvision.or.kr/main2017/images/wv_logo_02.png?crc=3773745825">
                    </li>
                </ul>
            </div>
        </div>
        <div id="nav">
            <div class="nav_area">
                <ul class="nav_ul text1">
                    <li>
                        <dl class="nav_dl dl1">
                            <a href="" class="info" data-idx="0">
                                모집 안내
                            </a>
                        </dl>
                    </li>
                    <li>
                        <dl class="nav_dl">
                            <a href="" class="notice" data-idx="1">
                                공지사항
                            </a>
                        </dl>
                    </li>
                    <li>
                        <dl class="nav_dl">
                            <a href="" class="notice" data-idx="3">
                                게시판
                            </a>
                        </dl>
                    </li>
                    <li>
                        <dl class="nav_dl">
                            <a href="" class="QnA" data-idx="4">
                                문의하기
                            </a>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="inner_cont customer_cont">
                <div class="section section-top">
                    <div class="inner">
                        <h3>모집 안내</h3>
                        <div class="line pink"></div>
                        <h4>공구 모집 살펴보기</h4>
                        <div class="blank_line"></div>
                        <p>
                            Donut에 방문해 주셔서 감사합니다.
                            <br>
                            질의사항은
                            <span class="pink">문의하기</span>
                            를 이용해 주세요.
                        </p>
                        <div class="content">
                            <ul class="cont_list">
                                <li>
                                    <a href="" class="content1">
                                        <div class="donate img1"></div>
                                        <span class="label">
                                            기부 제목
                                        </span>
                                        <small class="imgtext">참여하기</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="content2">
                                        <div class="donate img1"></div>
                                        <span class="label">
                                            기부 제목
                                        </span>
                                        <small class="imgtext">참여하기</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="content3">
                                        <div class="donate img1"></div>
                                        <span class="label">
                                            기부 제목
                                        </span>
                                        <small class="imgtext">참여하기</small>
                                    </a>
                                </li>
                                <br>
                                <br>
                                <br>
                                <li>
                                    <a href="" class="content4">
                                        <div class="donate img1"></div>
                                        <span class="label">
                                            기부 제목
                                        </span>
                                        <small class="imgtext">참여하기</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="content5">
                                        <div class="donate img1"></div>
                                        <span class="label">
                                            기부 제목
                                        </span>
                                        <small class="imgtext">참여하기</small>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="content6">
                                        <div class="donate img1"></div>
                                        <span class="label">
                                            기부 제목
                                        </span>
                                        <small class="imgtext">참여하기</small>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <address>
            <em><a href="../../../introapp/templates/introapp/home.html" class="logo"><span class="blind"></span></a></em>
            <em class="copy">고려대학교 세종캠퍼스</em>
            <em class="u_cri">©</em>
            <a href="../../../introapp/templates/introapp/home.html" class="u_cra">Donut</a>
        </address>
    </div>
</div>
</body>
</html>