<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../../static/css/profile.css">
</head>
<body>
<div id="wrapper">
    <div class="box1">
        <form id="my_page" method="post">
            <div id="container">
                <div id="content">
                    <div id="header">
                        <h1 id="top_logo">
                            <img src="../../../static/img/donut.png" alt="">
                            <a href="../../../introapp/templates/introapp/home.html">Donut</a>
                        </h1>
                    </div>
                    <div class="inner1">
                        <div id="progress">
                            진행중인 기부
                            <ul>
                                <li class="li1"><span>&#x1F48C;<br>기부 접수</span></li>
                                <li class="li2"><span>&#x2705;<br>입금 확인</span></li>
                                <li class="li3"><span>&#x1F680; <br>배송 시작</span></li>
                                <li class="li4"><span>&#x1F496; <br>배송 완료</span></li>
                            </ul>
                        </div>
                        <div class="section1">
                            <input id="wrote" type="checkbox">
                            <label for="wrote">내가 쓴 글 <img src="../../../static/img/arrow.png" alt=""></label>
                            <ul class="sub">
                                <li>내가 쓴 글 1</li>
                                <li>내가 쓴 글 2</li>
                                <li>내가 쓴 글 3</li>
                                <li>내가 쓴 글 4</li>
                            </ul>
                        </div>
                        <br>
                        <div class="section2">
                            <input id="donation" type="checkbox">
                            <label for="donation">내가 참여한 기부 <img src="../../../static/img/arrow.png" alt=""></label>
                            <ul class="sub2">
                                <li>참여한 기부1</li>
                                <li>참여한 기부2</li>
                                <li>참여한 기부3</li>
                                <li>참여한 기부4</li>
                            </ul>
                        </div>

                    </div>
                    <div class="inner2">
                        <div class="section3">
                            <input id="set" type="checkbox">
                            <label for="set"><img src="../../../static/img/setting.png" alt=""></label>
                            <ul class="set_sub">
                                <li>
                                    <br>
                                    <br>
                                    <a href="#">프로필 변경</a>
                                    <br>
                                    <a href="#">로그아웃</a>
                                </li>
                            </ul>
                        </div>
                        <div class="section4">
                            <div id="profile_img">
                                <img src="../../../static/img/profile.png" alt="">
                            </div>
                            <br>
                            <div id="name">
                                Dongbin0711
                            </div>
                            <br>
                            <div id="introduce">
                                여기는 간단한 자기소개 입력
                            </div>
                        </div>
                    </div>
                    <div id="footer">
                        <address>
                            <em><a href="../../../introapp/templates/introapp/home.html" class="logo"><span class="blind"></span></a></em>
                            <em class="copy">고려대학교 세종캠퍼스</em>
                            <em class="u_cri">©</em>
                            <a href="#" class="u_cra">Donut</a>
                        </address>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>